
body {
    background: url('https://twitch-ten-omega.vercel.app/NeonStrike/background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button.pressed {
    filter: drop-shadow(0 0 10px #bb00ff);
    animation: glowPulse 0.3s ease-out;
}

@keyframes glowPulse {
    0% { filter: drop-shadow(0 0 0px #bb00ff); }
    50% { filter: drop-shadow(0 0 12px #bb00ff); }
    100% { filter: drop-shadow(0 0 0px #bb00ff); }
}
